{{- $category := .Get "category" -}}

{{- $key := .Get "key" -}}

{{- $tag := .Site.Params.amazonJpAffiliate }}

{{- $book := (index (index $.Site.Data $category) $key) -}}

{{- $title := $book.title -}}

{{- $asin := $book.asin -}}

{{- $publisher := $book.publisher -}}

{{- $publishdate := $book.publishdate -}}

{{- $width := $book.width -}}

{{- $height := $book.height -}}


<div class="amazonlink">
  <a target="_blank" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}">
    <img class="amazonimage" src="https://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN={{ $asin }}&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag={{ $tag }}" width="{{ $width }}" height="{{ $height }}" alt="{{ $title }}" layout="resposive">
  </a>
  <div class="amazontitle" >
    <a target="_blank" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}">
    {{ $title }}
    </a>
    <br>
    <small>{{ $publisher }}</small><br>
    <small>{{ $publishdate }}</small>
    <br>
    <div class="buy-amazon">
      <a target="_blank" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}">Amazonで見る</a>
    </div>
    </div>
  
  </div>
