</main>
<div class="to-top">
     <div id="page_top"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M11 8.414V18h2V8.414l4.293 4.293 1.414-1.414L12 4.586l-6.707 6.707 1.414 1.414z"></path></svg></a></div>
 </div>
<footer>
<div class="footer-contents">
    <p>COPYRIGHT &#169; irohaka's blog ALL RIGHTS RESERVED.</p>
    <p><a href="{{ .Site.BaseURL }}privacy_policy/">Privacy Policy</a> </p>
</div>
</footer>